<div class="log">
  <div class="header">
    Update <%= @options[:sugar_accounts] %> accounts
  </div>
  <% @accounts.each do |account| %>
    <div class="content">
      <div class="query">
        Search for <b><%= account.sugar_account.name %></b>
      </div>
      <div class="result <%= account.search_result.present? ? "success" : "failed" %>">
        <% if account.search_result.present? %>
          <p>Account <b><%= account.sugar_account.name %></b> with id = <b>"<%= account.sugar_account.id %>"</b> was successfully updated with <b><%= account.search_result.company.to_sugar_data.values %></b></p>

          <% if account.search_result.contacts.present? %>
            <% account.search_result.contacts.each do |contact| %>
              <p>Contacts <b><%= contact.to_sugar_data %></b> was successfully added to account's contacts</p>
            <% end %>
          <% end %>
        <% else %>
          <p>No data found</p>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="footer">
    <% if @options[:error] %>
      Update was finished with an error:
      <div class="failed">
        <%= @options[:error].message %>
        <%= @options[:error].backtrace %>
      </div>
    <% else %>
      Update was successfully finished with <span class=updated-accounts><%= @updated_accounts_count %></span> accounts.
    <% end %>
  </div>
</div>
