<!DOCTYPE html>
<html>
<head>
  <title>Data.com Harvester</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <h1><%= link_to "Data.com Harvester", root_path %></h1>
    </header>

    <main class="content">
      <%= yield %>
    </main>
  </div>
</body>
</html>
